body {
    padding: 0;
    margin: 0;
    background: #e8edec;
}

/* Nav Bar */
.navbar {
    background: #91b1e2;
    height: 15 rem;
    border-bottom: solid 1px gray;
    padding 0, 20px, 0, 0;
    
}

.nav-link {
    color: #27252700;
    cursor: pointer;
}

.navbar-brand, .h1 { 
    width: 250px;
    height: 100%;
    background: rgb(30, 130, 230);
    color: #fff;
    cursor: pointer;
}

.nav-item{
    color: gray;
}
.nav-link {
    margin-right: 1em !important;
   
}

.nav-link:hover {
    color:#120eeb;
}

.navbar-collapse {
    justify-content: flex-end;
    color: #27252700;
  }